@font-face {
  font-family: "Young Serif";
  src: url("/assets/fonts/young-serif/YoungSerif-Regular.woff2") format("woff2"),
    url("/assets/fonts/young-serif/YoungSerif-Regular.woff") format("woff"),
    url("/assets/fonts/young-serif/YoungSerif-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: url("/assets/fonts/outfit/Outfit-Thin.woff2") format("woff2-variations");
  src: url("/assets/fonts/outfit/Outfit-Thin.woff2") format("woff2")
    tech("variations");
  src: url("/assets/fonts/outfit/Outfit-Thin.woff") format("woff-variations");
  src: url("/assets/fonts/outfit/Outfit-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 1000;
  font-stretch: 25% 151%;
  font-style: normal;
  font-display: swap;
}

html {
  font-size: 62.5%; /* 1rem = 10px para facilitar los cálculos */
}

:root {
  /* VARIABLES DE FUENTE */
  --font-family-title: "Young Serif", sans-serif;
  --font-family-body: "Outfit", sans-serif;

  /* TIPOGRAFÍA */
  --font-size-heading: 4rem;
  --font-size-subTitle: 2.8rem;
  --font-size-blockquote: 2rem;
  --font-size-body: 1.6rem;
  --font-size-mobile: 3.6rem;

  --font-weight-bold: 700;
  --font-weight-regular: 400;
  --font-weight-semiBold: 600;

  --line-height: 1.5;
  --letter-spacing-normal: 0px;

  /* COLOR */
  --White: hsl(0, 0%, 100%);

  --Stone100: hsl(30, 54%, 90%);
  --Stone150: hsl(30, 18%, 87%);
  --Stone600: hsl(30, 10%, 34%);
  --Stone900: hsl(24, 5%, 18%);

  --Brown800: hsl(14, 45%, 36%);

  --Rose800: hsl(332, 51%, 32%);
  --Rose50: hsl(330, 100%, 98%);

  /* SPACING */
  --spacing500: 4rem;
  --spacing400: 3.2rem;
  --spacing300: 2.4rem;
  --spacing200: 1.6rem;
  --spacing150: 1.2rem;
  --spacing100: 0.8rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-family-body);
  font-size: var(--font-size-body);
}

.m24 {
  margin-bottom: var(--spacing300);
}

.separator {
  border: 0.1rem solid var(--Stone150);
}

body {
  min-width: 100dvw;
  background-color: var(--White);
}

img {
  width: 100%;
  max-height: 17.1rem;
}

main {
  background-color: var(--White);

}

article{
    margin: var(--spacing500)  var(--spacing400);
    display: flex;
    flex-direction: column;
    gap: var(--spacing400);
}

.title {
  font-family: var(--font-family-title);
  font-size: var(--font-size-mobile);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing-normal);
  color: var(--Stone900);
}

.subtitle {
  font-family: var(--font-family-title);
  font-size: var(--font-size-subTitle);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing-normal);
  color: var(--Brown800);
}

.textBody {
  font-family: var(--font-family-body);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing-normal);
  color: var(--Stone600);
}

.preparation {
  background-color: var(--Rose50);
  padding: var(--spacing300);
  border-radius: var(--spacing150);
}

.preparation h3 {
  color: var(--Rose800);
  font-size: var(--font-size-blockquote);
  font-weight: var(--font-weight-semiBold);
  margin-bottom: var(--spacing200);
}

.preparation ul,
.ingredients ul,
.instructions ol {
  padding-left: 2.6rem;
  display: flex;
  flex-direction: column;
  gap: var(--spacing100);
}
.preparation li,
.ingredients li,
.instructions li {
  padding-left: 1.6rem;
}

.preparation ul li::marker {
  color: var(--Rose800);
}

.ingredients ul li::marker {
  color: var(--Brown800);
}

.instructions ol li::marker,
.nutrition tr td:nth-child(2) {
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-bold);
  color: var(--Brown800);
}

.nutrition table {
  width: 100%;
  border-collapse: collapse;
}
.nutrition table tr td:first-child {
  padding-left: var(--spacing400);
}
.nutrition table tr td:last-child {
  padding-right: var(--spacing400);
}
.nutrition tbody tr {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  border-bottom: 0.1rem solid var(--Stone150);
}
.nutrition tbody tr:first-child {
  padding-bottom: var(--spacing150);
}
.nutrition tbody tr:nth-child(2),
.nutrition tbody tr:nth-child(3) {
  padding: var(--spacing150) 0;
}
.nutrition tbody tr:last-child {
  padding-top: var(--spacing150);
  border-bottom: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.footer {
  padding: 0 var(--spacing400) var(--spacing400);
  color: var(--Stone600);
  background-color: var(--White);
}

.attribution span:first-child {
  display: block;
  margin-bottom: var(--spacing100);
}

@media (480px <= width <= 768px) {
    body{
        background-color: var(--Stone100);
    }
  main {
    padding: var(--spacing500);
    margin: 12.8rem 4.8rem;
    border-radius: var(--spacing300);
  }
  article {
    margin: var(--spacing500) 0 0;
  }

  img {
    border-radius: var(--spacing200);
    max-height: 30rem;
  }
  .footer {
    background-color: var(--Stone100);
  }
}

@media (width >= 768px) {
  body {
    background-color: var(--Stone100);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main {
    max-width: 73.6rem;
    padding: var(--spacing500);
    margin: 12.8rem 4.8rem;
    border-radius: var(--spacing300);
  }
  article {
    margin: var(--spacing500) 0 0;
  }

  img {
    border-radius: var(--spacing200);
    max-height: 30rem;
  }
  .footer {
    background-color: inherit;
  }
}
